
.container-fluid{
  align-items: center;
 
}

p{
  text-align: center;
}
h1{
  color: aliceblue;
  
}
h2,h4,h5{
  color: black;
  text-align: center;
}
.carousel-inner{
  height: 400px;
}
.img{
  height: 300px;
}

.login{
  left: 100px;
  font-size: 100px;
}


footer{
  height: 10px;
}