<title>Cadastrar</title>
<div class="container" >
<br><br><br>
  	<h2> Cadastrar</h2>
	<form  action="/cadPessoa" method="POST"><br><br>
		<div class="form-row">
			<div class="form-group col-md-4">
				<input type="text"  class="form-control" placeholder="Nome" name="nome" autocomplete="off">
			</div>
			<div class="form-group col-md-4">
				<input type="text"  class="form-control" placeholder="Endereço" name="endereco" autocomplete="off">
			</div>
            	<div class="form-group col-md-4">
				<input type="text"  class="form-control" placeholder="cpf" name="cpf" autocomplete="off">
			</div>
		</div>
<br>
      <button type="submit" class="btn btn-primary botao" value="cadastrar">Cadastrar</button><br><br>
				
			
	</form>
<br><br><br><br><br>
</div>
