<h1> Fale Conosco</h1>
><p>Página que permite você realizar um cadastro para contato conosco!</p>
<form action="fale_conosco" method="POST">
    <input type="text" name="nome_solicitante" placeholder="Digite o Nome">
    <input type="email" name="email_solicitante" placeholder="Digite o Email">
    <textarea name="relato_solicitante"> </textarea>

    <br>
    <br>
    <input type="submit">
</form>

<p class="btn-success" align="center">{{mensagem}}</p>