<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Central de Doações </title>
</head>
<body>
  

 

  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="500">
        <img src="/static/imagens/brinquedo.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="800">
        <img src="/static/imagens/alimento.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="800" >
        <img src="/static/imagens/dinheiro.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="800" >
        <img src="/static/imagens/vestuario.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="/static/imagens/fundo.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <form action="/cadDoacao" method="POST">

</form>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="my-4">LISTA DE PEDIDOS</h2>

        <div class="card mb-4">

          {{#each doacao}}

          <div class="card-body">
            <td>{{categoria}}</td><br>
             <p>{{descricao}}</p>
             <br>
             <a href="/listaOng" class="btn btn-info">Perfil da ONG &rarr;</a>
            <div class="card-footer text-muted">
                Prioridade: {{nivel}}
            </div>
             <br>
            
          </div>
          
          <br><br><br><br>
       
    
    
    {{/each}}
  
        </div>
        <br><br><br>
      </div>

      <div class="col-md-4">
        <div class="card my-4 btn-danger">
          <h5 class="btn btn-warning">DOAR</h5>
          <p>Para Fazer a doação é necessário entrar em contato via Whatsapp diretamente com a ONG. O cadastro do doador é opcional!</p>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Doar Alimento</h5>
          <p> OBS: Alimentos devem ser não perecíveis,exemplo(arroz,feijão,farinha)!</p>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Doar Brinquedo</h5>
          <p> OBS: Brinquedos devem estar em bom estado!</p>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Doar Dinheiro</h5>
          <p> OBS: Esta doação é feita através de depósito bancário, ao entrar em contato com a ONG as informações serão repassadoas diretamente!</p>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Doar Vestuário</h5>
          <p> OBS:As roupas devem estar em bom estado de uso e limpas!</p>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
 
  <br><br><br><br>

  